<!DOCTYPE html>
<html>
<head>
  <title>PochetteWeb</title>
  <%= stylesheet_link_tag    "pochette_web/application", media: "all" %>
  <%= javascript_include_tag "pochette_web/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
